//Fonts
@import "fonts";
$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Circular Std', sans-serif;

//Colors

.light {
    .base-auth-configs{
        .base-bg{
            background-color: #ffffff;
        }
    }
}