<div class="dark">
    <div class="base-auth-configs">
        <div class="base-bg w-sreen h-screen flex items-center justify-center">
            <div class="m w-full">
                <div class="flex flex-col gap-3 text-center mb-28 relative z-20">
                    <div class="h-[50px]">
                        <img src="../../../../assets/img/logo-lite.svg" class="w-full h-full object-contain" alt="Logo">
                    </div>
                    <h5>"Your Personalized Study Pal: Stay Organized, Learn Smarter!"</h5>
                </div>
                <div class="relative y-auto mx-auto w-6/12">
                    <div class=" mi-card-bg p-8 rounded-2xl grid grid-cols-2 min-h-[350px] mb-28 relative z-[10]">
                        <div class="flex flex-col gap-3">
                            <h2 class="mi-spacing">Sign in</h2>
                            <h5>Enter your email and password</h5>
                        </div>
                        <div class="flex flex-col h-full justify-between">
                            <form nz-form [formGroup]="loginForm" [nzLayout]="'vertical'" class="mt-6 mx-6 md:mx-0">
                                <div class="flex flex-col">
                                    <p class="mb-1">Email</p>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input your email!">
                                            <nz-input-group nzSize="large" [nzPrefix]="userPrefixTemplate">
                                                <input formControlName="email" nz-input placeholder="Email Address" />
                                            </nz-input-group>
                                            <ng-template #userPrefixTemplate>
                                                <i nz-icon nzType="mail"></i>
                                            </ng-template>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <p class="mb-1">Password</p>
                                    <nz-form-item class="mb-0">
                                        <nz-form-control nzErrorTip="Please input your password!">
                                            <nz-input-group nzSize="large" [nzPrefix]="lockPrefixTemplate"
                                                [nzSuffix]="toggleIconTemplate">
                                                <input [type]="passwordVisible ? 'text' : 'password'"
                                                    formControlName="password" nz-input placeholder="Password" />
                                            </nz-input-group>
                                            <ng-template #lockPrefixTemplate>
                                                <i nz-icon nzType="lock"></i>
                                            </ng-template>
                                            <ng-template #toggleIconTemplate>
                                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                                    nzTheme="outline" (click)="togglePasswordVisibility()"></i>
                                            </ng-template>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </form>
                            <nz-alert *ngIf="actionMessage.display" class="mt-2 mx-6 md:mx-0"
                                [nzType]="actionMessage.type" [nzMessage]="actionMessage.message" nzShowIcon></nz-alert>
                            <div class="flex flex-row items-center justify-end gap-5">
                                <button class="w-fit" nz-button nzType="default" nzBlock>
                                   Create account
                                </button>
                                <button class="w-fit" nz-button nzType="primary" nzBlock [nzLoading]="btnLoading"
                                    (click)="onLogin()">
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="glow-purple absolute top-[-100px] left-[-100px] z-[1]"></div>
                    <div class="glow-green absolute bottom-0 right-[-200px] z-[1]"></div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- <div class="bg-[#F9FBFF]">
    <div class="min-h-screen w-full flex flex-col justify-between">
        <div class="my-auto 2xl:mt-32 mb-0 h-[60px]">
            <img src="../../../../assets/img/logo.svg" class="w-full h-full object-contain" alt="Logo">
             LMS LMS-Reseach
        </div>
        <div class="w-[360px] mx-auto my-auto flex flex-col">
            <h1 class="text-[1.5rem] mx-6 md:mx-0">LOG IN</h1>
            
        </div>
        <div class="mb-8 mt-auto flex flex-col items-center justify-center">
            <div class="h-[30px]">
                <img src="../../../../assets/img/purple_logo.svg" class="w-full h-full object-contain" alt="Logo">
            </div>
            <div class="text-[#64748B] text-[0.6875rem] mt-2">Powered By <a href="https://purple.lk/?utm_source=igc-admin" target="_blank"><span class="text-[#6C066D] text-[0.75rem]">Purple Software </span></a></div>
        </div>
    </div>
</div> -->