<div class="mindmap-generator-container" style="position: relative;">

  <button 
    class="icon-button" 
    (click)="loadPdfExtractedData()" 
    [disabled]="isLoading">
    <span class="icon"></span>
    <span class="button-label">Generate</span>
  </button>

  <button class="icon-button-v2" (click)="downloadMindMap()">
    <i class="fas fa-download"></i>
  </button>

  <!-- Zoom In and Zoom Out buttons -->
  <div class="zoom-controls">
    <button (click)="zoomIn()" class="zoom-button" aria-label="Zoom In">
      <i class="fas fa-search-plus"></i> <!-- Zoom In Icon -->
      <span class="tooltip">Zoom In</span>
    </button>
    <button (click)="zoomOut()" class="zoom-button" aria-label="Zoom Out">
      <i class="fas fa-search-minus"></i> <!-- Zoom Out Icon -->
      <span class="tooltip">Zoom Out</span>
    </button>
  </div>
  

  <div class="overflow-auto" *ngIf="!isLoading && extractedData">
    <div class="mermaid" [ngStyle]="{'transform': 'scale(' + zoomLevel + ')'}">
      <div *ngIf="mermaidString" class="mermaid">
        {{ mermaidString }}
      </div>
    </div>
  </div>
</div>
