<div class="">
  <div class="w-full overflow-x-auto">
    <div class="bg-[#3D3F44] rounded-t-xl p-4 ">
      <div class="flex flex-row justify-between items-center">
        <p class="text-white">Mind Map</p>
        <div class="flex flex-row gap-5">
          <button (click)="zoomIn()" class="flex flex-row gap-2 items-center hover:text-[#96baf1]" aria-label="Zoom In">
            <i class="fas fa-search-plus"></i>
            <span class="tooltip">Zoom In</span>
          </button>
          <button (click)="zoomOut()" class="flex flex-row gap-2 items-center hover:text-[#96baf1] " aria-label="Zoom Out">
            <i class="fas fa-search-minus"></i>
            <span class="tooltip">Zoom Out</span>
          </button>
        </div>
        <button class="flex flex-row gap-1 py-2 px-4 text-white hover:cursor-pointer hover:scale-110 duration-500 transition rounded-full genrate-bg" (click)="loadPdfExtractedData()" [disabled]="isLoading">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9 9L14 21L15.8 15.8L21 14L9 9Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.2002 2.19995L8.0002 5.09995" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.1002 7.99995L2.2002 7.19995" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14 4.1001L12 6.0001" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.99961 12L4.09961 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="button-label">Generate</span>
        </button>
      </div>

    </div>
    <div class=" bg-[#2D2E31] p-4 min-h-[72vh] rounded-b-xl relative">
      <button class="absolute bottom-3 right-3  bg-[#A2C3F5] hover:bg-[#96baf1] hover:scale-110 rounded-full min-h-10 min-w-10 text-black z-10" (click)="downloadMindMap()">
        <i class="fas fa-download"></i>
      </button>
      <div class="mindmap-generator-container" style="position: relative;">
        <div class="overflow-auto" *ngIf="!isLoading && extractedData">
          <div class="mermaid" [ngStyle]="{'transform': 'scale(' + zoomLevel + ')'}">
            <div *ngIf="mermaidString" class="mermaid">
              {{ mermaidString }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  