<div *ngIf="isLoading" class="text-center text-gray-500">Loading data...</div>

<div class="extracted-content-style" *ngIf="!isLoading && extractedData.length > 0">
  <div *ngFor="let element of extractedData">
    <div *ngIf="element.text.trim() !== '•'" 
         [ngClass]="'hierarchy-level-' + getHierarchyLevel(element.text, element.font)">
      <span
        [ngClass]="{
          'bg-blue-300 border border-blue-400 p-1 rounded':
            element.text.trim() === highlightedText
        }"
        [id]="element.text.trim()"
      >
        {{ element.text.trim() }}
      </span>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && extractedData.length === 0" class="text-center text-gray-500">
  No data available.
</div>
