<!-- read-view.component.html -->
<div>
    <h1>{{ jsonData?.title }}</h1>
    <h2>{{ jsonData?.mode }}</h2>
    <ul>
      <li *ngFor="let item of listData">{{ item }}</li>
    </ul>
  </div>



  <!-- <div class="">
    <div class="flex flex-row flex-wrap gap-3 items-end">
        <h5 class="font-semibold text-white">The Ultimate Guide to Study Techniques.pdf</h5>
        <p class="text-[#44BD6D] text-[14px]">Read Mode</p>
    </div>

    <div class="mt-4 rounded-xl w-full h-full bg-[#2D2E31] p-4">
        <h4 class="font-semibold text-white">Understanding Your Learning Style</h4>
        <h5 class="font-semibold text-white mt-3">1.1 Why Learning Styles Matter</h5>
        <p class=" text-white font-thin ml-4 mt-3">Everyone processes and retains information differently. By identifying your learning style, you can tailor your study techniques to align with how your brain naturally absorbs knowledge. This understanding allows you to study more effectively, improve focus, and achieve better results with less effort. For instance, a visual learner might struggle with purely auditory resources, while a kinesthetic learner might find sitting through lectures without active engagement challenging. Recognizing and leveraging your learning style makes studying more engaging and productive.</p>
        <h5 class="font-semibold text-white mt-3">1.2 Types of Learning Styles</h5>
        <h5 class="font-semibold text-white mt-3 text-[18px] ml-4">1.2.1 Visual Learners</h5>
        <p class=" text-white font-thin ml-8 mt-3">Everyone processes and retains information differently. By identifying your learning style, you can tailor your study techniques to align with how your brain naturally absorbs knowledge. This understanding allows you to study more effectively, improve focus, and achieve better results with less effort. For instance, a visual learner might struggle with purely auditory resources, while a kinesthetic learner might find sitting through lectures without active engagement challenging. Recognizing and leveraging your learning style makes studying more engaging and productive.</p>
        <h5 class="font-semibold text-white mt-3 text-[18px] ml-4">1.2.1 Visual Learners</h5>
        <p class=" text-white font-thin ml-8 mt-3">Everyone processes and retains information differently. By identifying your learning style, you can tailor your study techniques to align with how your brain naturally absorbs knowledge. This understanding allows you to study more effectively, improve focus, and achieve better results with less effort. For instance, a visual learner might struggle with purely auditory resources, while a kinesthetic learner might find sitting through lectures without active engagement challenging. Recognizing and leveraging your learning style makes studying more engaging and productive.</p>
        <h5 class="font-semibold text-white mt-3 text-[18px] ml-4">1.2.1 Visual Learners</h5>
        <p class=" text-white font-thin ml-8 mt-3">Everyone processes and retains information differently. By identifying your learning style, you can tailor your study techniques to align with how your brain naturally absorbs knowledge. This understanding allows you to study more effectively, improve focus, and achieve better results with less effort. For instance, a visual learner might struggle with purely auditory resources, while a kinesthetic learner might find sitting through lectures without active engagement challenging. Recognizing and leveraging your learning style makes studying more engaging and productive.</p>
    </div>
</div -->
  