/* Global Styles */

/* Import other styles */
@use "./scss/global";

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */
html,
body {
  font-family: global.$font-primary; // Use namespace for fonts
  font-size: 16px;
  color: #ffffff;
  background-color: #1d1d1d;
}

/* Headings */
h1 {
  font-family: global.$font-primary;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

h2 {
  font-family: global.$font-primary;
  font-weight: 500;
  font-size: 2.5rem;
}

h3,
h4,
h5,
h6 {
  font-family: global.$font-primary;
}

h3 {
  font-size: 1.95rem;
  font-weight: 700;
}

h4 {
  font-size: 1.55rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
}

/* Paragraphs */
p {
  font-family: global.$font-secondary;
  font-size: 1rem;
  font-weight: 400;
  color: #6e6e6e;
}

/* Links */
a {
  font-family: global.$font-secondary;
  font-size: 1rem;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #141414; /* Track color */
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d; /* Scrollbar thumb color */
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color for the thumb */
}

.ql-snow {
  border: none !important;
}

.ql-toolbar {
  .ql-snow {
    border: none !important;
  }
  background: #141414;
}

.ql-snow {
  .ql-picker {
    color: #e5e5e5;
    .ql-expanded {
      .ql-picker-label {
        border: none !important;
      }
      .ql-picker-options {
        border: none !important;
      }
    }
  }
  .ql-picker-options {
    background-color: #3d3f44;
  }
}

.ql-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li {
    color: white;
  }
  .ql-picker-item {
    color: #e5e5e5 !important;
  }

  /* Default (non-hover, non-active, non-selected) state for toolbar buttons */
  .ql-snow .ql-toolbar button {
    color: #333; /* Change this to your desired color */
    fill: #333; /* Change the color of the SVG icons */
  }

  /* Default (non-hover, non-active, non-selected) state for picker labels and items */
  .ql-snow .ql-toolbar .ql-picker-label {
    color: #333; /* Change this to your desired color */
  }

  .ql-snow .ql-toolbar .ql-picker-item {
    color: #333; /* Change this to your desired color */
    fill: #333; /* Change the color of any SVG icons inside picker items */
  }
}
