/* Global Styles */

/* Import other styles */
@use "./scss/global";

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */
html,
body {
  font-family: global.$font-primary; // Use namespace for fonts
  font-size: 16px;
  color: #ffffff;
  background-color: #1d1d1d;
}

/* Headings */
h1 {
  font-family: global.$font-primary;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

h2 {
  font-family: global.$font-primary;
  font-weight: 500;
  font-size: 2.5rem;
}

h3,
h4,
h5,
h6 {
  font-family: global.$font-primary;
}

h3 {
  font-size: 1.95rem;
  font-weight: 700;
}

h4 {
  font-size: 1.55rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
}

/* Paragraphs */
p {
  font-family: global.$font-secondary;
  font-size: 1rem;
  font-weight: 400;
  color: #6e6e6e;
}

/* Links */
a {
  font-family: global.$font-secondary;
  font-size: 1rem;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;  /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #141414;  /* Track color */
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1d1d1d;  /* Scrollbar thumb color */
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Hover color for the thumb */
}
